<p id="notice"><%= notice %></p>

<h1>Data Packages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_packages.each do |data_package| %>
      <tr>
        <td><%= link_to 'Show', data_package %></td>
        <td><%= link_to 'Edit', edit_data_package_path(data_package) %></td>
        <td><%= link_to 'Destroy', data_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Package', new_data_package_path %>
